$body_font: sans-serif;
$heading_font: sans-serif;
$custom_font: serif;
$mono_font: monospace;

$white: #FFFFFF;
$black: #000;
$grey: #F5F3EC;
$beige: #e8e4d6;
$beige_dark: #75735E;
$green: #79a50d;
$green_dark: #11420B;
$green_darkish: #408423;
$yellow: #ffce00;
$gold: #e8ad43;
$gold_dark: #c18925;
$orange: #eb6f00;
$red: #bf2505;
$brown: #B55610;
$coral: #e2522b;
$rose: #db716a;
$rose_dark: #cb73a3;
$rose_mauve: #e9a8cb;
$mauve: #cb73a3;

$base: 20px;
$scale: 1.25;
$gap: $base * $scale;

$radius: $base;
$max: 1240px;

$mobile: 888px;
$mobile_base: 15px;
$mobile_scale: 1.25;
$mobile_gap: $mobile_base * $mobile_scale;

$number_of_columns: 12;