$body_font: sans-serif;
$heading_font: sans-serif;

$white: #FFFFFF;
$black: #000;
$grey: #F2F2F2;
$green: #00A558;
$greenish: #008044;
$green_dark: #004826;
$green_darkish: #006335;
$yellow: #F2C017;

$base: 20px;
$scale: 1.25;
$gap: $base * $scale;

$radius: $base;
$max: 1220px;

$mobile: 888px;
$mobile_base: 15px;
$mobile_scale: 1.25;
$mobile_gap: $mobile_base * $mobile_scale;

$number_of_columns: 12;